# folder examples will save data to
data

# latex files
*.blg
*.bbl
*.log
*.out
*.aux
*.pdf

# JabRef backup files
*.bib.bak
*.bib.sav

# pycharm project files
.idea

__pycache__

# python package
build
*.egg-info

# documentation
docs/_*
